!!!
html
  block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
  body
      header#banner
          h1 Awesome Chat
      block content
      footer Hope you enjoy your chat here